<!DOCTYPE HTML>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link href="css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="lib/Hui-iconfont/1.0.7/iconfont.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>数据上传</title>
</head>
<body ng-controller="createModelController">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i>  模型管理 <span class="c-gray en">&gt;</span> 创建模型 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
  <form class="form form-horizontal" >
  
  	<div class="row cl">
      <label class="form-label col-2"><span class="c-red">*</span>模型名称：</label>
      <div class="formControls col-3">
        <input type="text" class="input-text" ng-model="model.name">
      </div>
    </div>
    
    <div class="row cl">
	   <label class="form-label col-2"><span class="c-red">*</span>模型算法：</label>
	   <div class="formControls col-1">
          <select ng-model="model.algorithm" class="select">
			<option value="C50">C50</option>
			<option value="CART">CART</option>
	      </select>
       </div>
    </div>

    
    <div class="row cl">
      <label class="form-label col-2"><span class="c-red">*</span>模型文件：</label>
      <div class="formControls col-3">
        <input type="file" class="input-text" id="dataFile" accept=".csv,.data">
      </div>
      <div class="col-1"> </div>
    </div>
    
       <div class="row cl">
      <label class="form-label col-2"><span class="c-red">*</span>预测输入：</label>
      <div class="formControls col-3">
        <textarea disabled id = "input" class="input-text" style="height:50px"></textarea>
      </div>
    </div>
    
    <div class="row cl">
      <label class="form-label col-2"><span class="c-red">*</span>预测目标：</label>
      <div class="formControls col-3">
        <textarea disabled id="target" class="input-text" style="height:50px"></textarea>
      </div>
    </div>
    
    <div class="row cl">
      <label class="form-label col-2"><span class="c-red">*</span>数据内容：</label>
      <div class="formControls col-3">
        <textarea disabled id = "content" class="input-text" style="height:200px"></textarea>
      </div>
    </div>
    
    <div class="row cl">
      <div class="col-9 col-offset-2">
        <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;" ng-click="createModel()">
        <input class="btn btn-default radius" type="submit" value="&nbsp;&nbsp;取消&nbsp;&nbsp;" onClick="javascript:location.replace(location.href);">
      </div>
    </div>
  </form>
</div>

<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="lib/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script> 
<script type="text/javascript" src="js/H-ui.js"></script> 
<script type="text/javascript" src="js/H-ui.admin.js"></script> 

<script src="resource/js/lib/angular.min.js"></script>

<script src="resource/js/app.js"></script>

<script src="resource/js/APIRouters.js"></script>

<script src="resource/js/service/modelService.js"></script>

<script src="resource/js/controller/createModelController.js"></script>

</body>
</html>